@model List<MVCBierenApplicatie.Models.Bier>

@{
    ViewBag.Title = "Index";
}

<h3>Alle bieren</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Alcohol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bier in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => bier.ID)</td>
                <td>@Html.DisplayFor(m => bier.Naam)</td>
                <td>@Html.DisplayFor(m => bier.Alcohol)</td>
                <td><a href='@Url.Action("Verwijderen", "bier", new { ID = bier.ID } )'><img alt="verwijderen" src="~/images/delete.png" /></a></td>
                
            </tr>
        }

    </tbody>


</table>
@Html.ActionLink("Bier Toevoegen", "Toevoegen", "Bier", null, new { @class="btn btn-primary"})

